.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

header {
  margin-bottom: 50px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 20px;
}

.error {
  color: red;
}

/*GRID RESPONSIVE*/
.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  width: 100%;
  gap: 32px;
}

.movie {
  text-align: center;
}

.movie h3,
.movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
}
